@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Anton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-light: #fff; /* Light theme background color */
  --text-color-light: #161616; /* Light theme text color */
  --blend-light: screen;

  --background-color-dark: #161616; /* Dark theme background color */
  --text-color-dark: #fff; /* Dark theme text color */
  --blend-dark: darken;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.shapes {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: var(--text-color-light);
  overflow: hidden;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}

.shape-1 {
  background: #005ffe;
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}

.shape-2 {
  background: #ffe5e3;
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}

.shape-3 {
  background: #ffcc57;
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

.content {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: var(--background-color-light);
  color: var(--text-color-light);
  mix-blend-mode: var(--blend-light);
}

h1 {
  /* Include your custom styles here */
  color: var(--text-color-light);
  margin: 0;
}

.cursor {
  position: fixed;
  background: transparent;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

::selection {
  color: #fff;
  background: #2128bd;
}



@media (max-width: 1024px) {
  .content{
    flex-direction: column;
    gap: 10px;
  }
  h1{
    text-align: center;
  }
}


/* When the dark theme class is applied to the body, your content will adapt to the dark theme */
html.dark .content {
  background: var(--background-color-dark);
  color: var(--text-color-dark);
  mix-blend-mode: var(--blend-dark);

}

html.dark .shapes{
  background: var(--text-color-dark);
}

html.dark .content h1{
  color: var(--text-color-dark);
}


.left-half {
  width: 0.4em; /* Adjust the width to control how much of the letter is visible */
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; /* Align the left-half element vertically with the text */
  margin-top: -35px;
}

.right-half {
  width: 0.4em; /* Adjust the width to control how much of the letter is visible */
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; /* Align the left-half element vertically with the text */
  margin-top: -35px;
  transform: scaleX(-1); /* Flip horizontally */
}

*::-webkit-scrollbar-track
{
	border: 1px solid var(--background-color-dark);
	background-color: var(--background-color-light);
  transition: .3s ease-in-out;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--background-color-light);
  transition: .3s ease-in-out;
}

*::-webkit-scrollbar-thumb
{
	background-color: var(--background-color-dark);	
  transition: .3s ease-in-out;
}

html.dark *::-webkit-scrollbar-track
{
	border: 1px solid var(--background-color-light);
	background-color: var(--background-color-dark);
}

html.dark *::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--background-color-dark);
}

html.dark *::-webkit-scrollbar-thumb
{
	background-color: var(--background-color-light);	
}

.img-container {
  max-width: 100%;
  height: auto;
}